<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <Header>
        <h1>Layout Example</h1>
        <nav>
            <ul>
                <li> <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> </li>
                <li> <a asp-area="" asp-controller="Home" asp-action="About">About</a> </li>
                <li> <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a> </li>
                <li> <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> </li>
            </ul>
        </nav>
    </Header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
